<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="common/header::header-all('Query', 'Data Query')"></head>

<body>
<div class="full height">
    <noscript>Please enable JavaScript in your browser!</noscript>

    <div th:include="/common/menu::menu-home"></div>

    <div class="repository file list">
        <div class="ui container">
            <!-- sql editor -->
            <div id="file-content" class="tab-size-8">
                <h4 class="ui top attached header" id="repo-readme">
                    <i class="octicon octicon-code"></i>
                    <strong>SQL Editor</strong>
                    <div class="ui right file-actions">
                        <div class="ui buttons">
                            <a class="ui inverted blue button editor-execute">Run</a>
                        </div>
                        <i class="octicon octicon-file-code btn-octicon poping up editor-format" data-content="Format Editor SQL" data-position="bottom center" data-variation="tiny inverted"></i>
                        <i class="octicon octicon-cloud-upload btn-octicon poping up editor-undo" data-content="Undo Editor SQL" data-position="bottom center" data-variation="tiny inverted"></i>
                        <i class="octicon octicon-cloud-download btn-octicon poping up editor-redo" data-content="Redo Editor SQL" data-position="bottom center" data-variation="tiny inverted"></i>
                        <i class="octicon octicon-trashcan btn-octicon poping up editor-clear" data-content="Clear Editor SQL" data-position="bottom center" data-variation="tiny inverted"></i>
                    </div>
                </h4>
                <div class="field">
                    <div class="ui bottom attached active tab segment" data-tab="write">
                        <textarea id="edit_area" name="content"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="common/footer::copyright-footer">

</body>
</html>