<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="header-all(title, description)">

</head>

<!-- login Header -->
<head th:fragment="header-login">
    <meta charset="utf-8"/>
    <title>Weipal Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="weipal" name="description"/>
    <meta content="shicheng" name="author"/>

    <script th:src="@{/vendor/jquery/jquery-1.11.3.min.js}"></script>
    <script th:src="@{/vendor/jquery/jquery.are-you-sure.js}"></script>

    <link th:href="@{/vendor/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendor/css/octicons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendor/css/semantic-2.2.10.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendor/css/weipal.css}" rel="stylesheet" type="text/css"/>
</head>

</html>